<!--<p class="title">{{title}}</p>-->
<p class="title">Creating a new instano account</p>
<!--<p class="instructions">{{instructions}}</p>-->
<p class="instructions">Choose a username and password for use with us.</p>
<label>
    Mobile
</label>
<input name="username" type="textline" class="required">
<label>
    Password
</label>
<input name="password" type="password" class="required">
<input type="submit" class="save-submit" value="Register">
<input type="button" class="cancel-submit" value="Cancel">
